In [34]:
import networkx as nx
import torch
from torch_geometric.data import Data
from torch_geometric.loader import DataLoader
import pandas as pd

from preprocessing.generate_negatives import gen_neg_sample

In [35]:
test_edges = pd.read_parquet('data/test_edges.parquet')
test_features = pd.read_parquet('data/test_features.parquet')
test_labels = pd.read_parquet('data/test_labels.parquet')

val_edges = pd.read_parquet('data/val_edges.parquet')
val_features = pd.read_parquet('data/val_features.parquet')
val_labels = pd.read_parquet('data/val_labels.parquet')

train_edges = pd.read_parquet('data/train_edges.parquet')
train_features = pd.read_parquet('data/train_features.parquet')
train_labels = pd.read_parquet('data/train_labels.parquet')

In [36]:
train_labels_neg = gen_neg_sample(train_edges, train_labels)
val_labels_neg = gen_neg_sample(val_edges, val_labels)
test_labels_neg = gen_neg_sample(test_edges, test_labels)

test_edges.shape:  (8675721, 3)
test_labels.shape:  (330526, 3)
hist_purchases.shape:  (9006247, 2)  - Is total:  True
test_edges.shape:  (9006247, 3)
test_labels.shape:  (330839, 3)
hist_purchases.shape:  (9337086, 2)  - Is total:  True
test_edges.shape:  (9337086, 3)
test_labels.shape:  (328203, 3)
hist_purchases.shape:  (9665289, 2)  - Is total:  True

In [38]:
train_labels_neg

        user_id product_id  label
0             1      46149      1
1             1      49235      1
2             1      32022      0
3             1      44593      0
4             2      47186      0
...         ...        ...    ...
661047   206206      12902      0
661048   206209      48370      1
661049   206209      40310      1
661050   206209      27857      0
661051   206209      46898      0

[661052 rows x 3 columns]

In [39]:
temp = pd.merge(train_labels_neg, val_labels_neg, on=["user_id", "product_id"])

In [40]:
temp

    user_id product_id  label_x  label_y
0      2101      27966        0        1
1      4675      47081        0        0
2      5908      36984        0        0
3     15783      27061        0        0
4     18644      38007        0        0
5     18707       4913        0        1
6     23010       9076        0        1
7     24377       1702        0        0
8     24462      38866        0        0
9     25929      46651        0        1
10    30548      40376        0        1
11    34952      16813        0        1
12    40028       9076        0        1
13    42660      35908        0        1
14    49137       7027        0        0
15    49359       4138        0        1
16    53174      14683        0        0
17    55141      47210        0        0
18    57836       7670        0        0
19    62732      31438        0        0
20    67225      25240        0        0
21    83628       1703        0        1
22    84726      39534        0        0
23    91866      16826        0        1
24    92404      20515        0        0
25    95283      19048        0        1
26   100110      40831        0        0
27   102967       4605        0        1
28   109785      31343        0        1
29   109825      48364        0        1
30   116228      46906        0        1
31   119060       8174        0        1
32   119802       7274        0        1
33   123701      44412        0        0
34   124153      36552        0        1
35   132255       3506        0        0
36   132959      37055        0        1
37   138900       1468        0        1
38   140147      36977        0        0
39   144794       9926        0        0
40   148259      47692        0        0
41   155122      14678        0        1
42   164038       5526        0        0
43   170475      13263        0        1
44   171610      48994        0        0
45   177011      10118        0        0
46   181680      49429        0        0
47   183455      25666        0        0
48   183497       8277        0        1
49   185841      16254        0        0
50   190093       6166        0        1
51   191799      37821        0        0
52   193214       9076        0        1
53   197917      38077        0        1
54   199252      30546        0        0
55   200155      48741        0        0
56   200545      46162        0        0
57   201871      17296        0        1
58   202973      18749        0        1
59   206108      10794        0        0

In [41]:
temp['label_x'].value_counts()

0    60
Name: label_x, dtype: int64

In [42]:
val_labels_neg

        user_id product_id  label
0             2         79      1
1             2      42231      0
2             2      16558      0
3             2      32242      0
4             2      31955      0
...         ...        ...    ...
661673   206209      16168      1
661674   206209      14727      1
661675   206209       5622      1
661676   206209      23554      0
661677   206209      38029      0

[661678 rows x 3 columns]

In [43]:
test_labels_neg

        user_id product_id  label
0             1      35951      1
1             1      38928      1
2             1      39657      1
3             1       1838      0
4             1      30792      0
...         ...        ...    ...
656401   206209      31477      1
656402   206209      22920      1
656403   206209       6567      1
656404   206209      28818      0
656405   206209      37274      0

[656406 rows x 3 columns]

In [44]:
temp2 = pd.merge(val_labels_neg, test_labels_neg, on=["user_id", "product_id"])
temp2

    user_id product_id  label_x  label_y
0      1313      33724        0        0
1      4165      43777        0        0
2      6118      26209        0        1
3      8062      44422        0        1
4     12081      26620        0        1
..      ...        ...      ...      ...
62   187856      47209        0        1
63   191833      30822        0        0
64   193943       4605        0        1
65   204229      19344        0        0
66   205976       4593        0        0

[67 rows x 4 columns]

In [45]:
temp2['label_x'].value_counts()

0    67
Name: label_x, dtype: int64

In [11]:
train_labels_neg.to_parquet("data/train_labels_neg.parquet", index=None)
val_labels_neg.to_parquet("data/val_labels_neg.parquet", index=None)
test_labels_neg.to_parquet("data/test_labels_neg.parquet", index=None)

In [7]:
class BipartiteData(Data):
    def __init__(self, edge_index=None, x_s=None, x_t=None):
        super().__init__()
        self.edge_index = edge_index
        self.x_s = x_s
        self.x_t = x_t
    
    def __inc__(self, key, value, *args, **kwargs):
        if key == 'edge_index':
            return torch.tensor([[self.x_s.size(0)], [self.x_t.size(0)]])
        else:
            return super().__inc__(key, value, *args, **kwargs)

In [12]:
edge_index = test_edges.loc[:, ["user_id", "product_id"]].to_numpy().T

In [13]:
data = BipartiteData(edge_index)